
body {
    font-family:verdana, sans-serif;

}
h1 {
    font-size:1.5em;
}
.meta {
    font-size:0.6em;
    display:none;
}
#board {
    width:300px;
    height:300px;
    padding:25px;
    background-color:#333;
    margin-top:1em;
}
ul, li {
    list-style:none;
    margin:0;
    padding:0;
}
.tile {
    display:block;
    width:95px;
    height:95px;
    float:left;
    margin:2.5px;
    background-color:#eee;
    line-height:95px;
    text-align:center;
    background-image:url(banksy-laughnow.jpg);
}

.tile.tile-0 {background-image:none;}
.tile.tile-1 {background-position:-100px 0;}
.tile.tile-2 {background-position:-200px 0;}

.tile.tile-3 {background-position:0 -100px;}
.tile.tile-4 {background-position:-100px -100px;}
.tile.tile-5 {background-position:-200px -100px;}

.tile.tile-6 {background-position:0 -200px;}
.tile.tile-7 {background-position:-100px -200px;}
.tile.tile-8 {background-position:-200px -200px;}
p {
    margin:0;
}
.reset {margin-top:1em;}